:root {
    --themes-green: #30AB7F;
    --themes-red: #FF1614;
    --themes-blue: #237F9B;
    --body-color: #E8EDEF;
    --color-1: #019c9c;
    --color-2: #237F9B;
    --color-3: #f1f1f1;
    --color-4: #eae5e5;
    --color-5: #707070;
    --color-6: #C4C0C0;
    --color-7: #C1C3C4;
    --color-8: #E7E7E7;
    --color-9: #f1f1f1;
    --color-10: #525354;
    --color-11: #747C89;
    --color-12: #062442;
    --color-13: #B1B1B1;
    --color-14: #639E30;
    --color-15: #707070;
    --color-16: #E8E5E5;
    --color-17: #019c9c;
    --color-18: rgba(0, 0, 0, 0.904);

    --gradient-1: linear-gradient(270deg, #1EBBB4 -2.03%, #2A327A 100%);
    --jumboImg: url("image/jumbotronImage.png");
    --pplBrandImg: url("image/bPeopleBrand-only.png");
    --imgUnggulMain: url("image/bubble-blue.png");
    --imgUnggul: url("image/imageUnggul-1.jpg");
    --imgGallery: url("image/bubble-blue-2.png");
}