/* CSS Created By Levianth  */
/* Github : https://github.com/LevianthProject */
/* This CSS still under maintenance and please do not change any class or property for now. */
/* Any question for this css please contact me on : Email levianthproject@gmail.com or Discord : Levianthz#7761 */

body {
    background-color: #E8EDEF;
}

body .font-poppins {
    font-family: 'Poppins', sans-serif !important;
}

body .icon-menu {
    width: 26%;
}

body .color-1 {
    color: #525354;
}

body .color-2 {
    color: #747C89;
}

body .color-3 {
    color: #062442;
}

body .color-4 {
    color: #B1B1B1;
}

body .color-5 {
    color: #639E30;
}

body .bg-1 {
    background-color: #30AB7F !important;
}

body .JumboImg {
    background-image: url("image/jumbotronImage.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

body .LoginBg {
    background-image: url("image/loginBG.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: none;
    outline: 0;
}

body .PpdbLoginBg {
    background-image: url("image/ppdbLoginImg.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: none;
    outline: 0;
    max-width: 850px !important;
}

body .font-size-1 {
    font-size: 60px;
}

body .font-size-2 {
    font-size: 36px;
}

body .font-size-3 {
    font-size: 18px;
}

body .font-size-4 {
    font-size: 12.5px;
}

body .font-size-5 {
    font-size: 16px;
}

body .font-size-6 {
    font-size: 21px;
}

body .font-size-7 {
    font-size: 32px;
}

.hr-styled {
    width: 100%;
    height: 3px;
    background-color: #E0E0E0;
}

.card-width {
    width: 293px;
    padding-left: .4rem;
    padding-right: .4rem;
}

.card-style-1 {
    max-width: 435px;
    max-height: 294px;
    padding-left: .4rem;
    padding-right: .4rem;
}

.miniPeople {
    position: absolute;
    left: 20px;
    /* top: 5px; */
}

.btn-logins {
    color: #fff;
    background-color: #639E30;
    border-color: #639E30;
}

.btn-logins:hover {
    color: #fff;
}

.btn-logins:active {
    box-shadow: 0 0 .3rem .1rem #639e30af !important;
}

.btn-login-close {
    box-sizing: content-box;
    width: 2rem;
    height: 2rem;
    padding: .25em .25em;
    color: #000;
    background: #639E30 url("icon/closeIcon.png") center/1em auto no-repeat !important;
    border: 0;
    border-radius: 5rem;
    opacity: 1 !important;
    position: absolute;
    right: 15%;
    top: -10%;
}

.btn-login-close:active {
    box-shadow: 0 0 .3rem .1rem #639e30af !important;
}

.z-10 {
    z-index: 100;
}

.top-60 {
    top: 30%;
}

.w-40 {
    width: 35%;
}

.w-90 {
    width: 90%;
}

.px-6 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
}

.px-7 {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
}

.bg-2 {
    background-color: #F1F1F1;
}

.bg-3 {
    background-color: #E28B00;
}

/* firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #30AB7F transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #30AB7F;
    border-radius: 20px;
    border: 3px solid transparent;
}


/* Responsive */

@media screen and (max-width: 460px) {

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-70 {
        width: 70% !important;
    }

    .w-sm-40 {
        width: 40% !important;
    }

    .w-max-95 {
        max-width: 95% !important;
    }

    .img-places {
        display: flex;
        z-index: 100;
        height: 20% !important;
        width: 20% !important;
    }

    .gallery-wrapper input[type=radio] {
        appearance: auto;
        position: relative;
        top: 120px !important;
        left: -37% !important;
        margin: 10px;
        z-index: 500;
    }

    .card-gallery {
        position: fixed;
        width: 100%;
        height: 55% !important;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform 0.4s ease;
        cursor: pointer;
        background-color: #fff;
        border-radius: 10px;
    }

}

@media screen and (max-width: 990px) {

    body .LoginBg {
        background-image: url("image/loginBG.svg") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 95% !important;
        margin-top: auto;
        margin-left: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: none;
        outline: 0;
    }

    .bg-unggul-cards-1 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("image/bg-bubble.svg");
    }

    .bg-unggul-cards-2 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75%;
        background-image: url("image/bg-bubble.svg");
    }

    .font-size-sm-1 {
        font-size: 25px !important;
    }

    .font-size-sm-2 {
        font-size: 13px !important;
    }

    .font-size-sm-3 {
        font-size: 30px !important;
    }

    .font-size-sm-4 {
        font-size: 14.5px !important;
    }

    .font-size-sm-5 {
        font-size: 17px !important;
    }

    .w-max-95 {
        max-width: 80%;
    }

    .img-places {
        display: flex;
        height: 25%;
        width: 25%;
    }

    .icon-gallerys {
        position: absolute;
        z-index: 1000;
        top: -40px;
        right: 35px;
    }

    .maps-responsive {
        width: 100%;
        height: 30%;
    }

    body .gallery-wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80vh;
        background-image: url("image/bg-bubble-2.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

    body .gallery-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 10px 0px 10px;
        font-family: 'DM Sans', sans-serif;
        transition: background 0.4s ease-in;
    }

    .icon-width-gallery {
        width: 70px;
    }

    .gallery-paginate {
        background-color: #ABB5D1;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        z-index: 100;
    }

    .gallery-wrapper input[type=radio] {
        appearance: auto;
        position: relative;
        top: 150px;
        left: -42%;
        margin: 10px;
        z-index: 500;
    }

    .container-gallery label {
        display: inline-block;
    }

    .card-gallery {
        position: fixed;
        width: 100%;
        height: 75%;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform 0.4s ease;
        cursor: pointer;
        background-color: #fff;
        border-radius: 10px;
    }

    .container-gallery {
        width: 100%;
        max-width: 800px;
        max-height: 600px;
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        text-align: center;
        align-items: center;
    }

    .cards-gallery {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .container-gallery .cards-gallery img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        padding: 10px;
    }

    #gallerys-1:checked~.cards-gallery #images-3,
    #gallerys-2:checked~.cards-gallery #images-1,
    #gallerys-3:checked~.cards-gallery #images-2 {
        /* transform: translatex(-40%) scale(0.8);
        background-color: rgba(0, 0, 0, 0.100);
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
        opacity: 0.4; */
        z-index: 0;
    }

    #gallerys-1:checked~.cards-gallery #images-2,
    #gallerys-2:checked~.cards-gallery #images-3,
    #gallerys-3:checked~.cards-gallery #images-1 {
        /* transform: translatex(40%) scale(0.8);
        background-color: rgba(0, 0, 0, 0.100);
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
        opacity: 0.4; */
        z-index: 0;
    }

    #gallerys-1:checked~.cards-gallery #images-1,
    #gallerys-2:checked~.cards-gallery #images-2,
    #gallerys-3:checked~.cards-gallery #images-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;
    }

    #gallerys-1:checked~.cards-gallery #images-1 img,
    #gallerys-2:checked~.cards-gallery #images-2 img,
    #gallerys-3:checked~.cards-gallery #images-3 img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }


}

@media only screen and (min-width: 992px) {


    .bg-unggul-main {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("image/bg-bubble.svg");
    }

    .img-places {
        display: flex;
        height: 13%;
        width: 13%;
    }

    .maps-responsive {
        width: 600px;
        height: 200px;
    }

    .icon-gallerys {
        position: absolute;
        z-index: 1000;
        top: -40px;
        right: 75px;
    }

    /* gallery */

    body .gallery-wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80vh;
        background-image: url("image/bg-bubble-2.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

    body .gallery-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        font-family: 'DM Sans', sans-serif;
        transition: background 0.4s ease-in;
    }

    .icon-width-gallery {
        width: 80px;
    }

    .gallery-paginate {
        background-color: #ABB5D1;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        z-index: 100;
    }

    .gallery-wrapper input[type=radio] {
        appearance: auto;
        position: relative;
        top: 280px;
        left: -350px;
        margin: 10px;
        z-index: 500;
    }

    .container-gallery label {
        display: inline-block;
    }

    .card-gallery {
        position: fixed;
        width: 724px;
        height: 455px;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform 0.4s ease;
        cursor: pointer;
        background-color: #fff;
        border-radius: 10px;
    }

    .container-gallery {
        width: 100%;
        max-width: 800px;
        max-height: 600px;
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        text-align: center;
        align-items: center;
    }

    .cards-gallery {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .container-gallery .cards-gallery img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        padding: 10px;
    }

    #gallerys-1:checked~.cards-gallery #images-3,
    #gallerys-2:checked~.cards-gallery #images-1,
    #gallerys-3:checked~.cards-gallery #images-2 {
        transform: translatex(-40%) scale(0.8);
        background-color: rgba(0, 0, 0, 0.100);
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
        opacity: 0.4;
        z-index: 0;
    }

    #gallerys-1:checked~.cards-gallery #images-2,
    #gallerys-2:checked~.cards-gallery #images-3,
    #gallerys-3:checked~.cards-gallery #images-1 {
        transform: translatex(40%) scale(0.8);
        background-color: rgba(0, 0, 0, 0.100);
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
        opacity: 0.4;
        z-index: 0;
    }

    #gallerys-1:checked~.cards-gallery #images-1,
    #gallerys-2:checked~.cards-gallery #images-2,
    #gallerys-3:checked~.cards-gallery #images-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;
    }

    #gallerys-1:checked~.cards-gallery #images-1 img,
    #gallerys-2:checked~.cards-gallery #images-2 img,
    #gallerys-3:checked~.cards-gallery #images-3 img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }


}