body .font-poppins {
    font-family: 'Poppins', sans-serif !important;
}


body .icon-menu {
    width: 26%;
}

body .color-1 {
    color: #525354;
}

body .color-2 {
    color: #747C89;
}

body .color-3 {
    color: #062442;
}

body .bg-1 {
    background-color: #30AB7F !important;
}

body .JumboImg {
    background-image: url("image/jumbotronImage.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

body .font-size-1 {
    font-size: 68px;
}

body .font-size-2 {
    font-size: 36px;
}

body .font-size-3 {
    font-size: 18px;
}

.card-width {
    width: 293px;
    padding-left: .4rem;
    padding-right: .4rem;
}

.bg-unggul-main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("image/bg-bubble.svg");
}

.img-places {
    display: flex;
    height: 200px;
    width: 250px;
}

.z-10 {
    z-index: 100;
}

.top-60 {
    top: 30%;
}

.w-40 {
    width: 35%;
}

.px-6 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
}

.bg-2 {
    background-color: #F1F1F1;
}

.bg-3 {
    background-color: #E28B00;
}

/* firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #30AB7F transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #30AB7F;
    border-radius: 20px;
    border: 3px solid transparent;
}



/* gallery */

body .gallery-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
    background-image: url("image/bg-bubble-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

body .gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background 0.4s ease-in;
}


.gallery-paginate {
    background-color: #ABB5D1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 100;
}

.gallery-wrapper input[type=radio] {
    appearance: auto;
    position: relative;
    top: 280px;
    left: -350px;
    margin: 10px;
    z-index: 500;
    background-color: burlywood;
}

.container-gallery label {
    display: inline-block;
}

.card-gallery {
    position: fixed;
    width: 724px;
    height: 455px;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
}

.container-gallery {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
}

.cards-gallery {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-gallery img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    padding: 10px;
}

#gallerys-1:checked~.cards-gallery #images-3,
#gallerys-2:checked~.cards-gallery #images-1,
#gallerys-3:checked~.cards-gallery #images-2 {
    transform: translatex(-40%) scale(0.8);
    background-color: rgba(0, 0, 0, 0.100);
    opacity: 0.4;
    z-index: 0;
}

#gallerys-1:checked~.cards-gallery #images-2,
#gallerys-2:checked~.cards-gallery #images-3,
#gallerys-3:checked~.cards-gallery #images-1 {
    transform: translatex(40%) scale(0.8);
    background-color: rgba(0, 0, 0, 0.100);
    opacity: 0.4;
    z-index: 0;
}

#gallerys-1:checked~.cards-gallery #images-1,
#gallerys-2:checked~.cards-gallery #images-2,
#gallerys-3:checked~.cards-gallery #images-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#gallerys-1:checked~.cards-gallery #images-1 img,
#gallerys-2:checked~.cards-gallery #images-2 img,
#gallerys-3:checked~.cards-gallery #images-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}